<!DOCTYPE html>
<html lang="{{data.lang}}">
<head>
	<meta charset="utf-8">
	<title>{{title}} — {{data.projectName}}</title>
	{{> partials/head-includes}}
</head>
<body>
	<div class="Wrap">
		{{> partials/header}}

		<main class="Main" id="main-content">

			<div class="Section">
				<div class="container">

					<h1>{{title}}</h1>
					<p>{{data.projectName}}</p>
					<ul>
						{{!-- {{#each nav}}
							<li><a href="{{url}}">{{title}}</a></li>
						{{/each}} --}}
					</ul>

				</div>
			</div>

		</main>

		{{> partials/footer}}
	</div>

	{{> partials/footer-includes}}
</body>
</html>
