mixin tabs(tabs)
	<div class="Tabs">
		<ul class="Tabs__nav">
			each tab, index in tabs
				<li class="Tabs__navItem#{index === 0 ? ' is-open' : ''}">#{tab.title}</li>
		</ul>

		each tab, index in tabs
			<div class="Tabs__item#{index === 0 ? ' is-open' : ''}">
				<div class="Tabs__itemHeader">
					<div>!{tab.title}</div>
					//- +icon("chevron").Tabs__itemArrow
				</div>
				<div class="Tabs__itemContent">
					| !{tab.content}
				</div>
			</div>
	</div>
